<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="product.name"
        placeholder="Nome"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="product.description"
        placeholder="Descrição"
      ></ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-input
        type="text"
        [(ngModel)]="product.picture"
        placeholder="Foto"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.price" placeholder="Preço"></ion-input>
    </ion-item>-->
  </ion-list>

  <ion-button shape="round" (click)="openGalery()">
    <ion-icon name="camera"></ion-icon>
  </ion-button>
  
  <ion-card *ngIf="product.picture">
    <ion-card-content>
      <img [src]="product.picture"/>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="cloud-upload" slot="start"></ion-icon>
      <ion-label>Progresso do upload: {{ uploadPercent | async }}%</ion-label>
    </ion-item>
  </ion-card>

  <!--- <ion-item>
    <ion-label class="ion-text-wrap">
      URL de Download: {{ downloadUrl | async }}%</ion-label
    >
    </ion-item>
    -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveProduct()" expand="block">
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>
